body {
    font-size: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.header {
    display: flex;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
    justify-content: center;
}

.choice {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 20px;
}

button {
    padding: 15px;
}

.winner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    font-weight: bold;
    font-size: 2rem;
}

.outcome {
    display: flex;
    justify-content: space-evenly;
    margin: 15px;
}

.scores {
    display: flex;
    align-items: center;
    flex-direction: column;
}