.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 50px;
}

.selection {
    display: flex;
    gap: 10px;
}

button {
    padding: 15px;
}